<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="cache_credentials" value="true" />
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="duration" value="300" />
    <add key="max_workers" value="4" />
    <add key="keys" value="0,1024,10240,102400,1048576,5242880" />
  </appSettings>
  <connectionStrings>
    <add
      name="MyContext"
      connectionString="Server=tcp:my.database.windows.net,1433;Initial Catalog=My;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>